<div class="app-container">
  <mat-toolbar color="primary" class="app-toolbar">
    <div *ngIf="auth.user | async as user">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <h1 class="app-name">Time Manager</h1>
    <span class="toolbar-fill"></span>
    <div *ngIf="auth.user | async as user">
      <button mat-button [matMenuTriggerFor]="profileMenu"><mat-icon>face</mat-icon>  {{user.displayName}}</button>
    </div>
  </mat-toolbar>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="logOut()">Log Out</button>
  </mat-menu>
  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #snav class="app-sidenav">
      <app-dashboard-list class="dashboard-list"></app-dashboard-list>
      <!--<app-schedule-list class="schedule-list"></app-schedule-list>-->
    </mat-sidenav>
    <mat-sidenav-content class="app-sidenav-content">
      <div *ngIf="loading" >
        <div class="load-container" fxLayout="column" fxLayoutAlign="center center">
          <span class="mat-display-2">Loading...</span>
          <br />
          <mat-spinner></mat-spinner>
        </div>
      </div>
      <div *ngIf="!loading">
        <div *ngIf="auth.user | async as user; else showLogin" >
          <app-dashboard [dashboard]="selectedDashboard"></app-dashboard>
        </div>
        <ng-template #showLogin>
          <div class="login-container" fxLayout="column" fxLayoutAlign="center center">
            <span class="mat-display-2">Please Login</span>
            <br />
            <button mat-raised-button color="primary" class="google-login-button" (click)="login()">Login with Google</button>
          </div>
        </ng-template>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>