.dashboard-body {
    height: 100%;
}

.dashboard-sidenav-container {
    flex: 1;
    height: 100%;
}

.dashboard-sidenav-content {
    height: 80vh;
    width: calc(100% - 20px);
    margin-left: 10px;
}

.config-container {
    padding: 10px;
}

.config {
    min-height: 35vh;
    min-width: 15vw;
}

.config-done-button {
    width: 80%;
    min-width: 100px;
}