:host /deep/ input {
    background-color: transparent !important;
}

.timepicker-container {
    margin-left: 10px;
    margin-right: 10px;
}

.activity-container {
    margin-left: 10px;
    margin-right: 10px;
}

.container{
    margin-top: 10px;
    margin-bottom: 10px;
}

.note {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}